<h1>From <%= @message.author %></h1>
<p>
  <%= @message.created_at  %>
</p>
<p>
  <%= @message.content  %>
</p>

<% if @message.url %><p>Link: <%= @message.url %></p><% end %>

<hr/>
<a href="/messages">Back to All Messages</a>